<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated pictograph -->
      <package
            uri="pictograph"
            class="org.eclipse.epsilon.picto.pictograph.PictographPackage"
            genModel="model/pictograph.genmodel"/>
   </extension>

</plugin>
